.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.lh-condensed { line-height: 1.25; }

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4{font-family:Roboto,sans-serif}

ul.social li a span {
  padding-left: 14px;
}

h2 {
  margin-bottom: 0.8em;
}

h3:not(:first-child) {
  margin-top:1em;
}

#kit  {
  margin-top: 2em;
}
